* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
nav,
footer,
header,
aside {
	display: block;
}
html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}
a {
	color: inherit;
}

@font-face {
	font-family: NTSomic;
	font-weight: 400;
	font-style: normal;
	src:
		local("NTSomic Regular"),
		local("NTSomic-Regular"),
		url("/fonts/NTSomic-Regular.woff2") format("woff2"),
		url("/fonts/NTSomic-Regular.woff") format("woff"),
		url("/fonts/NTSomic-Regular.eot") format("eot");
	font-display: swap;
}

:root {
	--white: #fff;
	--black: #000000;
	--accent: #ff7c11;
}

body {
	background: var(--black);
	color: var(--white);
	font-family: NTSomic;
	font-weight: 400;
	/* background: linear-gradient(rgba(0 0 0 / 75%), rgba(0 0 0 / 75%)),url(../assets/image.JPG); */
	background-position-x: 0%, 0%;
	background-position-y: 0%, 0%;
	background-size: auto, auto;
	background-size: cover;
	background-position: center center;
}

.overlay {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 96vh;
}

.wrapper {
	min-height: 100%;
	width: 100%;
	overflow: hidden;
	font-family: NTSomic;
	font-weight: 400;
	line-height: 1.25;
}

.container {
	max-width: 1280px;
	padding: 0 15px;
	margin: 0 auto;
}

main {
	position: fixed;
	padding: 0 20px;
}

.main__content {
	width: 635px;
	height: 400px;
	overflow: auto;
	font-family:
		verdana,
		helvetica,
		sans serif;
	font-size: 16px;
	color: white;
	text-align: justify;
	margin: 3px;
}

.main__content a:hover {
	text-decoration: underline;
}

div#close,
div#top {
	padding: 5px;
	background: none;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	border: 1px solid #222;
	position: absolute;
	right: 33px;
	top: 3px;
}

#close a {
	color: #fff;
}

#close a:hover {
	color: var(--accent);
}

div#top {
	position: relative;
	left: 573px;
	top: 319px;
}

.urltext {
	font-size: 30px;
	top: -87px;
	left: -69px;
}

.urltext {
	color: var(--accent);
}

.main__content div#titlebar {
	border: 1px solid #222222;
	background: #000;
	font-weight: normal;
	color: var(--accent);
}

.main__content {
	margin-left: 0;
	padding-right: 8px;
}

.titleblock {
	font-size: 12px;
	color: var(--accent);
	font-weight: ;
	margin-right: 2px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 2px;
	border: 1px solid #222;
	padding: 4px;
}

.titleblock span {
	color: var(--accent);
}

.urltext a:link {
	color: #444;
}
.urltext a:visited {
	color: #444;
}
.urltext a:hover {
	color: #444;
}
.urltext a:active {
	color: #444;
}

.desc {
	display: flex;
}

.desc img {
	width: 130px;
	height: auto;
	margin: 0 10px 3px 0;
}

.skills_icons-inner {
	font-size: 48px;
	text-align: center;
}

.mybtn {
	text-align: start;
	display: flex;
}

.mybtn img {
	padding: 0 7px;
	object-fit: contain;
}

@media screen and (max-width: 660px) {
	main {
		width: -moz-available;
		width: -webkit-fill-available;
	}

	.main__content {
		width: auto;
		max-width: 635px;
	}
}

@media screen and (max-width: 540px) {
	.overlay {
		height: 90vh;
	}
	main {
		right: 0;
	}
}

  @media screen and (max-width: 540px) {
    header {
      height: auto;
      transform: scale(0.75);
			min-width: 574px;
    }

    .header__inner {
    	position: relative;
    }
	}

@media screen and (max-height: 450px) {
	.main__content {
		height: 80vh;
	}
}
