---
import Layout from "../layouts/Layout.astro";

import Header from "../components/Header.astro";
---

<Layout title={"Contacts"}>
  <div class="wrapper">
    <div class="overlay">
      <Header />
      <main>
        <aside transition:name="hero">
          <div class="urltext">
            <a
              href="/"
              class="navigurl"
              title="click to return to the index page"
              >index &raquo;
            </a>
            contacts
            <div id="close">
              <a href="/" title="close and return to menu">X</a>
            </div>
          </div>
          <div class="main__content">
            <a name="top"></a>
            <div class="titleblock">...if you need to contact me urgently</div>
            Email:
            <br />&nbsp;&nbsp;<a href="mailto:me@thefreo.ru">me@thefreo.ru</a>
            <br /><span style="font-size:6px"><br /></span>
            Telegram:
            <br />&nbsp;&nbsp;<a href="https://t.me/thefreo">@thefreo</a>
            <br /><span style="font-size:6px"><br /></span>
            XMPP:
            <br /><div style="display: flex;">&nbsp;&nbsp;<a id="copy">freo@jabber.ru</a>&nbsp;&nbsp;<p id="copy-ms" style="color: var(--accent)"></p></div>
          </div>
        </aside>
      </main>
    </div>
  </div>
</Layout>

<script data-astro-rerun>
  let copyText = document.querySelector('#copy')
  let message = document.querySelector('#copy-ms')
    document.querySelector('#copy').addEventListener('click', () => {
    navigator.clipboard.writeText(copyText.text)
      .then(() => {
        message.innerHTML += 'copied!'
      })
    })
</script>
