---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Image from "astro/components/Image.astro";
import avatar from "../assets/avatar.gif";
---

<Layout title={"Home"}>
  <div class="wrapper">
    <div class="overlay">
      <Header />
      <main>
        <aside transition:name="hero">
          <div class="urltext">
            <a
              href="/"
              class="navigurl"
              title="click to return to the index page"
              >index &raquo;
            </a>
            home
            <div id="close">
              <a href="/" title="close and return to menu">X</a>
            </div>
          </div>
          <div class="main__content">
            <a name="top"></a>
            <div class="titleblock">Welcome to my website!</div>
            <div class="desc">
              <div>
                <Image src={avatar} alt="" />
                <center>
                  <a href="https://www.imood.com/users/freo">
                    <img
                      style="width: auto;height: 18px;"
                      src="https://moods.imood.com/display/uname-freo/fg-FFFFFF/trans-1/imood.gif"
                      alt="The current mood of freo at www.imood.com"
                    />
                  </a>
                </center>
              </div>
              <p>
                Hello! My name is Artem, also known as TheFreo. I am a <span id="myAge"></span>
                year-old front-end developer. I mainly write websites on a
                freelance basis and sometimes mini projects that can be found on
                my GitHub. I am also interested in self-hosting. I speak
                Russian, English, and Ukrainian. My favorite music genres are
                ambient, IDM, and rock (any kind).
              </p>
            </div>
            <div class="titleblock">Skills</div>
            <div class="skills_icons-inner">
              <i class="devicon-html5-plain"></i>
              <i class="devicon-css3-plain"></i>
              <i class="devicon-javascript-plain"></i>
              <i class="devicon-react-original"></i>
              <i class="devicon-astro-plain"></i>
              <i class="devicon-git-plain"></i>
              <i class="devicon-linux-plain"></i>
              <i class="devicon-vscode-plain"></i>
              <i class="devicon-docker-plain"></i>
            </div>
          </div>
        </aside>
      </main>
    </div>
  </div>
</Layout>
<script>
		var today = new Date();
		var bday = new Date("15 June 2005");
		var years = today - bday;
		myAge.textContent = new Date(years).getFullYear() - 1970;

		console.log("What are you doing here?");
</script>
