---
import Layout from "../layouts/Layout.astro";

import Header from "../components/Header.astro";

---
<Layout title={'TheFreo'}>
  <div class="wrapper">
    <div class="overlay">
      <Header />
    </div>
  </div>
</Layout>
