---
import HeaderLink from "./HeaderLink.astro";
---

<header>
  <div class="header__inner">
    <h1>thefreo</h1>
    <nav>
      <div class="internal-links">
        <HeaderLink
          style="font-size: 29px; top: 6px; left: 0px; position: absolute"
          href="/home">home</HeaderLink
        >
        <HeaderLink
          style="font-size: 60px; top: 46px; left: 20px; position: absolute"
          href="/links">links</HeaderLink
        >
        <HeaderLink
          style="font-size: 35px; top: 60px; left: 300px; position: absolute"
          href="/devices">devices</HeaderLink
        >
        <HeaderLink
          style="font-size: 50px; top: 200px; left: 45px; position: absolute"
          href="/donate">donate</HeaderLink
        >
        <HeaderLink
          style="font-size: 39px; top: 200px; left: 260px; position: absolute"
          href="/contacts">contacts</HeaderLink
        >
      </div>
    </nav>
  </div>
</header>
<style>
  h1 {
    color: #222;
    font-size: 150px;
    position: absolute;
    top: 50px;
    margin-left: -35px;
  }

  header {
    padding: 0 50px 0 66px;
    width: 574px;
    height: 259px;
  }

  .header__inner {
    position: absolute;
  }

  .internal-links {
    position: absolute;
  }
</style>
